@charset "ISO-8859-1";

	html,body {
		height: 100%;
		position: relative;
	}
	
	main {
		min-height: 750px;
	}
	
	.page-item.active .page-link {
  z-index: 1;
  color: white;
  background-color: #6c757d;
  border-color: #6c757d;
}
.page-item .page-link {
	color: black;
}